<div class="container" (click)="ver1=!ver1">
  <div class="row">
    <h1 class="bg-dark text-white text-center my-4 py-4">NG IF Es={{ ver1 }}</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <p class="text-danger" *ngIf="ver1; else ver2" >
      <span
        >VER 1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore eius
        ratione nostrum consectetur aliquam, eligendi soluta, distinctio eos
        excepturi iste quasi vel omnis rerum doloribus earum. Nihil quae veniam
        expedita.</span
      >
    </p>
  </div>
  <ng-template #ver2 >
    <div class="row">
      <p class="text-dark" >
        <span [ngClass]="fondo"
          > VER 2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore eius
          ratione nostrum consectetur aliquam, eligendi soluta, distinctio eos
          excepturi iste quasi vel omnis rerum doloribus earum. Nihil quae veniam
          expedita.</span
        >
      </p>
    </div>
    <div>
      <button  (click)="fondo='bg-primary'">COLOR Azul</button>
      <button  (click)="fondo='bg-warning'">COLOR Naranja</button>
    </div>
  </ng-template>

<!-- <h1>ng if
</h1>

 <button (click)="show=!show">mostrar</button>
  <hr>
<p *ngIf="show" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati magni tenetur, sunt et placeat, a provident inventore natus commodi, eaque ipsum asperiores ipsa itaque enim. Corrupti odio quasi quisquam dicta.</p>
</div>
<hr> -->

<div class="container" (click)="ver1=!ver1">
  <div class="row">
    <h1 class="bg-dark text-white text-center my-4 py-4">NG CLASS</h1>
  </div>
</div>


<div class="container">

    <button class="btn btn-primary  m-md-5" (click)="activos='primero'" > primero</button>
    <button class="btn btn-danger m-md-5"(click)="activos='segundo'">segundo</button>
    <button class="btn btn-info"(click)="activos='tercero'">tercero</button>

    <p class="text-danger d-none" [ngClass]="{'d-md-block':activos=='primero'}" >
      1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nostrum ipsum dolor pariatur, amet saepe deserunt obcaecati distinctio repudiandae, optio quos eum nulla libero dicta assumenda illum laboriosam voluptatibus magnam.
    </p>

    <p class="text-success d-none" [ngClass]="{'d-md-block':activos=='segundo'}" >
      2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nostrum ipsum dolor pariatur, amet saepe deserunt obcaecati distinctio repudiandae, optio quos eum nulla libero dicta assumenda illum laboriosam voluptatibus magnam.
    </p>
    <p class="text-bg-info d-none" [ngClass]="{'d-md-block':activos=='tercero'}" >
      3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nostrum ipsum dolor pariatur, amet saepe deserunt obcaecati distinctio repudiandae, optio quos eum nulla libero dicta assumenda illum laboriosam voluptatibus magnam.
    </p>
</div>
<hr>
<div class="container">
  <div class="row">
    <h1 class="bg-dark text-white text-center my-4 py-4">NG FOR</h1>
  </div>
  <div class="row">
    <ul *ngFor="let curso of cursos" >
      <li>{{ curso }}</li>
    </ul>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>NOMBRE</th>
          <th>EDAD</th>
          <th>CI</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas; index as i">
          <td scope="row">{{ i + 1}}</td>
          <td>{{ persona.tipo }}</td>
          <td>{{ persona.nombre }}</td>
          <td>{{ persona.edad }}</td>
          <td>{{ persona.Otro }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>id</th>
          <th>NOMBRE</th>
          <th>EDAD</th>
          <th>CI</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
