

<!-- <h3>Show datos serivicio HTTP</h3>
<p>panel app component {{ title }}</p>
<hr>

<hr>
<ul>
  <li><a routerLink="/auth"> <h1>AUTH PRNCIPAL</h1></a></li>
  <li><a routerLink="/auth/login"> Login link 1</a></li>
  <li><a routerLink="/auth/forgot"> forgot link 1</a></li>
  <li><a routerLink="/auth/registro"> rgeistro link 1</a></li>
</ul>

<ul>
  <li><a routerLink="/productos"> <h1>PRODUCTOS </h1></a></li>
  <li><a routerLink="/antes//agregar"> agregar link 1</a></li>
  <li><a routerLink="/antes//editar"> editar link 1</a></li>
  <li><a routerLink="/productos/listado"> listado link 1</a></li>
  <li><a routerLink="/antes/productos/producto"> Producto</a></li>
  <li><a routerLink="/antes//http"> HTTP</a></li>
</ul> -->

<router-outlet> </router-outlet>
